.create-container {
  margin: auto;
  border-radius: 6px;
  min-width: 400px;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 30, 32);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 10px 0px;
}

.create-container > p {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: rgb(238, 223, 200);
}

.create-container > input {
  margin-top: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--darkreader-bg--secondary);
  background-color: var(--darkreader-bg--secondary);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.create-container > button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--complimentary);
  border-color: currentcolor;
  color: rgb(255, 255, 255);
}

.create-container > button:hover {
  background-color: darkred;
}

.create-welcome {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 30px;
}