.pick-container {
  margin: auto;
  background-color: rgb(27, 30, 32);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 10px 0px;
  border-radius: 6px;
  min-width: 400px;
  max-width: 600px;
}

.pick-title {
  text-align: left;
  padding: 10px;
  border-bottom-color: rgb(86, 94, 99);
  color: rgb(255, 255, 255);
  font-weight: normal;
  border-bottom: 1px solid;
  margin-bottom: 0;
}

.pick-teams_list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.team_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  align-items: center;
  border-bottom: 1px solid rgb(86, 94, 99);
}

.left {
  display: flex;
  align-items: center;
}

.left > img {
  width: auto;
  height: 70px;
  background-color: var(--darkreader-bg--secondary);  border-radius: 4px;
  padding: 5px;
  margin-right: 10px;
}

.left > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left > div > h3 {
  margin: 0;
}

.left > div > p {
  margin: 0;
  color: rgb(238, 223, 200);
  font-size: 12px;
}

.right {
  height: 50px;
  width: 100px;
  border: 0;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--primary);
  border-color: currentcolor;
  color: rgb(255, 255, 255);
}

.right:hover {
  background-color: var(--primary_dark);
	color: white;
}

.pick-bottom {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  background-color: var(--primary_dark);
}

.pick-bottom > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  flex-direction: column;
}

.pick-bottom > div > h4 {
  margin: 10px;
}

.pick-bottom > div > div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pick-bottom > div > div > button {
  flex: 1;
  background-color: var(--complimentary);
  border: 0;
  padding: 10px 0;
  border-radius: 4px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

.pick-bottom > div > div > button:hover{
	background-color: darkred;
  border-color: darkred;
  transition: .2s;
}

.pick-welcome {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.pick-welcome-sub {
  font-size: 18px;
  margin: 0;
  color: var(--secondary_dark);
  margin-bottom: 30px;
}








