:root {
  --primary: #4d7aff;
  --primary_dark: #3655b3;
  --secondary: #d3deff;
  --secondary_dark: #a6bcff;
  --complimentary: #ff5151;
}

@font-face {
  font-family: "Rubik";   /*Can be any text*/
  src: local("Rubik-Regular"),
    url("./fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
}


html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--secondary);
}

.App {
  text-align: center;
  background-color: var(--secondary);
  height: 100vh;
  font-family: Rubik;
  display: flex;
}

.login-container {
  display: flex;
  align-items: center;
  flex: 1 1;
}


.login-box-container {
  background-color: white;
  height: 100%;
  flex: 2.5 1;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 20px 0 #0000002e;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.login-header > h1, .login-header > p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.login-header > p {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 10px 0px #00000030;
  border-radius: 10px;
  padding: 20px;
}

.login-label {
  font-weight: normal;
  font-size: 14px;
  color: #0009;
}

.login-input {
  margin: 10px;
  border: 0;
  padding: 5px;
  border-radius: 8px;
}

.login-button {
  margin: 5px 0px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}

.login-button:hover {
  cursor: pointer;
  background-color: var(--primary_dark);
}

.login-title-container {
  margin:  0px auto;
  flex: 3;
}

.login-title {
  height: 30vw;
  filter: drop-shadow(0px 5px 3px #2222223d);
}

.chat-header {
  position: absolute;
  height: 50px;
  width: 100vw;
  background-color: rgb(96, 138, 193);
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header-image {
  margin: 0 20px 0 10px;
  border-radius: 50px;
}

.signout-button {
  border: 0;
  border-radius: 4px;
  background-color: var(--secondary);
  color: #0009;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.signout-button:hover {
  cursor: pointer;
  background-color: var(--secondary_dark);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 260px;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 0px 0px 10px 2px #0000001a;
  z-index: 2;
}

.main-container {
  background-color: #f4f6fc;
  flex: 4 1;
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex: 1;
  max-height: 100vh;
}

.main-body-left {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.main-body-right {
  background-color: white;
  flex: 1;
  min-width: 0px;
  max-width: 250px;
  box-shadow: 0px 0px 10px 2px #0000001a;
  z-index: 0;
}

.main-body-chat {
  flex: 6;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.main-body-input {
  background-color: white;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.main-body-left > form {
  padding: 0 20px;
}

.main-body-input > input {
  width: 90%;
  background-color: #f4f6fc;
  border: 0;
  padding: 8px 7px;
  border-radius: 4px;
  font-size: 14px;
  height: 28px;
  margin-right: 5px;
}

.main-body-input > button {
  background-color: var(--secondary);
  border: 0;
  border-radius: 4px;
  padding: 5px;
  width: 80px;
  height: 40px;
}

.main-body-input > button:hover {
  background-color: var(--secondary_dark);
  cursor: pointer;
}

.main-navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px #0000001a;
  z-index: 1;
}

.main-navbar-logo {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.main-navbar-logo > img {
  height: 32px;
}

.main-navbar-logo > p {
  font-weight: bold;
}

.main-navbar-user {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.main-navbar-user > img {
  background-color: gray;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
}

.main-navbar-user > p {
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-link {
  padding: 10px 30px;
  background-color: transparent;
  border: 0;
  text-align: left;
  color: #2d2d2d;
  font-weight: bold;
}

.sidebar-head {
  display: flex;
  text-align: left;
  padding: 20px 0 20px;
  outline: 1px solid #00000012;
  justify-content: flex-start;
}

.sidebar-head > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.sidebar-head > div > img {
  background-color: lightgray;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 4px;
  margin-right: 10px;
}

.sidebar-head > div > div > h6 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.sidebar-head > div > div > p {
  margin: 0;
  font-size: 16px;
  color: gray;
  font-weight: lighter;
}

.sidebar-link:hover {
  background-color: #0009;
  cursor: pointer;
  color: white;
}
.sidebar-link-selected {
  background-color: #0009;
  cursor: pointer;
  color: white;
}

.sidebar-channels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px;
}

.sidebar-channels > details > summary {
  margin: 20px 0 0 0;
  font-weight: normal;
  color: gray;
  font-size: 18px;
}

.sidebar-channels > details > div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.sidebar-channels > details > div > p {
  font-size: 16px;
  margin: 2px 0;
  padding: 5px;
}

.sidebar-channels > details > div > p:hover {
  background-color: var(--secondary);
  cursor: pointer;
  border-radius: 4px;
}

.sidebar-dms {
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 20px; 
}

.sidebar-dms > details > summary {
  margin: 20px 0 0 0;
  font-weight: normal;
  color: gray;
  font-size: 18px;
}

.message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}

.message-image {
  width: 50px;
  height: 100%;
  border-radius: 4px;
  margin-right: 10px;
}

.message-text-container {
  width: 90%;
  background-color: #ffffff2e;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.message-time {
  color: #0006;
  font-size: 12px;
}

.message-owner-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-owner {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.chat-container{
  display: flex;
  height: 100%;
  flex: 1;
}

.chat-body-container {
  display: flex;
  flex: 1;
}

.chat-box-main {
  flex: 1;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.chat-box-messages-container {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.chat-box-form {
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 0 0 20px 0;
}

.chat-box-input {
  width: 100%;
  border: 1px solid white;
  border-radius: 6px 0 0 6px;
  padding: 5px;
  background-color: #fff9;
}

.chat-box-button {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 0 6px 6px 0;
  padding: 5px;
  background-color: #5ab2ff99;
}

.form-input > input {
  margin: 10px;
  border: 1px solid #e6e6e6;
  padding: 5px;
  border-radius: 4px;
  background-color: #f4f4f4;
  margin-left: 0;
  width: 95%;
}

.form-input > label {
  font-weight: lighter;
  font-size: 14px;
  color: gray;
  text-align: left;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.dm-card {
  display: flex;
  margin: 5px 0 5px 20px;
  justify-content: start;
  align-items: center;
  padding: 5px 0;
}

.dm-card:hover {
  background-color: var(--secondary);
  cursor: pointer;
  border-radius: 4px;
}

.dm-card > img {
  background-color: lightgray;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
}

.dm-card > h6 {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.message-card {
  display: flex;
  align-items: flex-end;
  margin: 30px;
}

.message-card > img {
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px -5px #0003;
  min-width: 30px;
  min-height: 30px;
}

.message-card > view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%;
  margin: 0 10px;
}

.message-card > view > h4 {
  margin: 0 0 5px 0;
  font-size: 13px;
  font-weight: normal;
  color: gray;
}

.message-card > view > p {
  margin: 0;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -5px #0003;
  font-size: 16px;
  text-align: left;
}

.me {
  flex-direction: row-reverse;
}

.me > view > p {
  background-color: var(--primary);
  color: whitesmoke;
}

.me > view {
  align-items: flex-end;
}

.selected {
  background-color: var(--secondary);
  border-radius: 4px;
}

.creator-button {
  background-color: var(--secondary);
  border: 0;
  border-radius: 4px;
  padding: 5px;
  color: var(--primary_dark);
  font-weight: bold;
  cursor: pointer;
}

.creator-button:hover {
  background-color: var(--secondary_dark);
}






